/* BASE */
* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* LAYOUTS */
/* INICIO CSS HEADER */
header {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background-color: black;
  overflow: hidden;
}
header nav ul {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}
header nav ul li {
  padding: 1rem;
  list-style: none;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
header img {
  vertical-align: middle;
  height: 100%;
  width: 4vw;
}
header .container-fluid {
  --bs-navbar-color: white;
  --bs-navbar-hover-color: lightgray;
}

/* FINAL CSS HEADER */
/* INICIO CSS FOOTER */
footer {
  font-weight: bold;
  color: white;
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/* FINAL CSS FOOTER */
/* PAGES */
/* INICIO CSS CARRITO */
.contenedor-carrito {
  display: flex;
  flex-direction: row;
  height: 96.5vh;
  width: 100%;
}
.contenedor-carrito .carrito-imagen {
  height: 100%;
  background-color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  width: 70%;
  position: relative;
  overflow: scroll;
}
.contenedor-carrito .carrito-imagen .container.text-center {
  text-align: left !important;
  position: absolute;
  left: 0;
}
.contenedor-carrito .carrito-imagen .row {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contenedor-carrito .carrito-imagen .row .col {
  width: 100%;
}
.contenedor-carrito .carrito-imagen .row .col article {
  display: flex;
  flex-direction: row;
}
.contenedor-carrito .carrito-imagen .row .col article .data-prod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  font-weight: bold;
}
.contenedor-carrito .carrito-imagen .row .col article .data-prod .descripcion-prod {
  font-weight: normal;
  font-style: italic;
}
.contenedor-carrito .carrito-imagen .row .col article .botones-mod-y-del {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.contenedor-carrito .carrito-imagen .row .col article .botones-mod-y-del a {
  text-decoration: none;
}
.contenedor-carrito .carrito-imagen img {
  border: 1px solid rgba(128, 119, 119, 0.651);
  height: 146.5px;
  width: 146.5px;
}
.contenedor-carrito .carrito-datos {
  width: 25%;
  position: relative;
  padding: 1em;
  font-weight: bold;
}
.contenedor-carrito .boton-carrito {
  display: flex;
  justify-content: center;
}
.contenedor-carrito .boton-carrito button {
  border: 1px solid gainsboro;
  border-radius: 1rem;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  margin: 1rem;
  font-weight: bold;
}

/* FINAL CSS CARRITO */
/* INICIO CSS EL-MUNDO */
.contenedor-el-mundo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.contenedor-el-mundo .super_carrousel {
  border: 1px solid #000;
  width: 85vw;
  overflow: hidden;
}
.contenedor-el-mundo .carousel {
  animation: carousel 10s linear infinite;
  display: flex;
  flex-direction: row;
  width: 4500px;
}
.contenedor-el-mundo .carousel .block {
  overflow: hidden;
}
.contenedor-el-mundo .carousel .block img {
  height: 350px;
  width: 250px;
  object-fit: cover;
}
@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2250px);
  }
}
.contenedor-el-mundo .titulo-el-mundo h1 {
  margin-top: 5rem;
  font-size: 60px;
  color: black;
}
.contenedor-el-mundo .titulo-el-mundo p {
  font-style: italic;
  font-weight: bold;
}
.contenedor-el-mundo .introduccion-el-mundo {
  background-color: #100e17;
  margin: 5rem;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contenedor-el-mundo .introduccion-el-mundo h2 {
  font-size: 40px;
  color: white;
}
.contenedor-el-mundo .introduccion-el-mundo p {
  margin-top: 1rem;
  text-align: left;
  color: white;
  font-weight: bold;
}
.contenedor-el-mundo .cards-el-mundo {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  font-weight: bold;
}
.contenedor-el-mundo .cards-el-mundo .card {
  background-color: #100e17;
  margin: 5rem;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  color: white;
}
.contenedor-el-mundo .cards-el-mundo .card .card-body h5 {
  font-weight: bold;
}
.contenedor-el-mundo .cards-el-mundo .card .card-body .btn.btn-primary {
  color: black;
  background-color: rgba(255, 255, 255, 0.5294117647);
  font-weight: bold;
  border-color: #100e17;
  --bs-btn-hover-border-color: black !important;
  --bs-btn-hover-color: black !important;
  --bs-btn-hover-bg: white !important;
}

/* FINAL CSS EL-MUNDO */
/* INICIO CSS CONTACTO */
.contenedor-contacto {
  height: 96.5vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.contenedor-contacto .contacto-imagen {
  height: 100%;
  background-color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  width: 50%;
  position: relative;
}
.contenedor-contacto .contacto-imagen img {
  position: relative;
  top: 43%;
  height: 15%;
}
.contenedor-contacto .contacto-datos {
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  font-weight: bold;
}
.contenedor-contacto .contacto-datos h1 {
  font-weight: bold;
}
.contenedor-contacto .contacto-datos .form-contacto {
  margin-top: 3rem;
}

/* FINAL CSS CONTACTO */
/* INICIO  INDEX */
.contenedor-index {
  width: 100%;
  height: 95.6vh;
  background-image: url(../assets/img/depositphotos_189328220-stock-illustration-perfect-starry-night-sky-background.jpg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.contenedor-index .back-video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: contrast(100%);
}
.contenedor-index-content {
  text-align: center;
}
.contenedor-index-content h1 {
  font-size: 160px;
  color: white;
  font-weight: 600;
}
.contenedor-index-content p {
  font-style: italic;
  font-size: 24px;
  color: white;
}
.contenedor-index-content a {
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  color: white;
  padding: 14px 70px;
  border: 2px solid white;
  border-radius: 50px;
  margin-top: 20px;
  transition: 0.5s;
}
.contenedor-index-content a:hover {
  transition: 0.5s;
  background-color: black;
  color: whitesmoke;
}

/* FINAL INDEX */
/* INICIO CSS PRODUCTOS */
.contenedor-productos {
  height: 80.5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.contenedor-productos .producto-datos {
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  left: 15%;
}
.contenedor-productos .producto-datos p {
  font-weight: bold;
  font-size: 150px;
}
.contenedor-productos .producto-datos:has(.fancy:hover) .text:not(.fancy:hover) {
  opacity: 0.1;
}
.contenedor-productos .producto-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  position: relative;
}
.contenedor-productos .producto-imagen img {
  position: relative;
  width: 300px;
  top: 43%;
  height: 300px;
}

.boton-galeria-prod {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton-galeria-prod a {
  background-color: black;
  /* Green */
  border: 1px solid black;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
  transition: 0.5s;
}
.boton-galeria-prod a:hover {
  transition: 0.5s;
  background-color: rgba(87, 82, 82, 0.637);
  color: black;
}

/* FINAL CSS PRODUCTOS */
/* INICIO CSS PRODUCTOS-GALERIA */
.galeria-prod {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.galeria-prod h1 {
  font-weight: bold;
}
.galeria-prod .col article img {
  height: 350px;
  width: 350px;
}
.galeria-prod .col article p {
  font-weight: bold;
}
.galeria-prod .col article button img {
  height: 40px;
  width: 40px;
}

/* FINAL CSS PRODUCTOS-GALERIA */
/* MEDIA QUERIES */
/*INICIO MEDIA QUERIES - MOBILE*/
@media (min-width: 320px) and (max-width: 1024px) {
  /*INICIO MEDIA QUERIES - GENERAL */
  header {
    height: 3.5vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
    margin-bottom: 10px;
  }
  nav.navbar {
    background-color: #000;
    z-index: 1;
  }
  .container-fluid {
    background-color: black !important;
  }
  .navbar-toggler {
    background-color: white !important;
  }
  .logo-star-wars-header {
    display: none;
  }
  /* FINAL MEDIA QUERIES - GENERAL */
  /* INICIO MEDIA QUERIES PAGE INDEX */
  .back-video {
    display: none;
  }
  .contenedor-index {
    background-color: #000;
  }
  .contenedor-index-content h1 {
    font-size: 35px;
  }
  /* FINAL MEDIA QUERIES PAGE INDEX */
  /*INICIO MEDIA QUERIES PAGE EL-MUNDO */
  .carousel {
    width: 0;
    height: 0;
  }
  .container-fluid {
    height: 100%;
    z-index: 1;
  }
  .navbar {
    width: 100%;
  }
  .navbar-nav a {
    text-align: center;
    font-weight: bold;
    border: 2px solid;
    margin: 0.5rem;
    border-radius: 1rem;
  }
  .titulo-el-mundo h1 {
    font-weight: bold;
    font-size: 30px !important;
  }
  .introduccion-el-mundo h2 {
    font-size: 25px;
    font-weight: bold;
  }
  .cards-el-mundo {
    flex-direction: column !important;
  }
  .cards-el-mundo .card {
    margin: 5.5rem;
  }
  /*FINAL MEDIA QUERIES PAGE EL-MUNDO*/
  /*INICIO MEDIA QUERIES PAGE PRODUCTOS*/
  .producto-imagen {
    display: flex;
    flex-direction: column;
  }
  .producto-imagen img {
    height: 0 !important;
    width: 0 !important;
  }
  .producto-datos p {
    width: 100% !important;
    font-size: 90px !important;
  }
  .producto-bajar img {
    height: 0;
    width: 0;
  }
  .boton-galeria-prod {
    margin-bottom: 4rem;
  }
  .boton-galeria-prod a {
    font-size: 25px;
  }
  /*FINAL MEDIA QUERIES PAGE PRODUCTOS*/
  /* INICIO MEDIA QUERIES PAGE PRODUCTOS-GALERIA */
  .galeria-prod {
    display: flex;
    flex-direction: column;
  }
  .galeria-prod .h1-productos {
    margin-top: 1rem;
  }
  .galeria-prod .col article img {
    height: 200px;
    width: 200px;
  }
  .galeria-prod .col article p {
    font-weight: bold;
  }
  /* FINAL MEDIA QUERIES PAGE PRODUCTOS-GALERIA */
  /* INICIO MEDIA QUERIES PAGE CARRITO */
  .contenedor-carrito {
    display: flex;
    flex-direction: column;
  }
  .contenedor-carrito .carrito-imagen {
    height: 50%;
    width: 100%;
    overflow: scroll;
  }
  .contenedor-carrito .carrito-imagen .container.text-center {
    height: 100%;
  }
  .contenedor-carrito .carrito-imagen .container.text-center .row {
    margin: 0;
  }
  .contenedor-carrito .carrito-imagen .col {
    margin: 1rem 0 1rem 0;
  }
  .contenedor-carrito .carrito-imagen .col article img {
    height: 120px;
    width: 100px;
  }
  .contenedor-carrito .carrito-imagen .col article .data-prod {
    font-size: 12px;
  }
  .contenedor-carrito .carrito-imagen .col article .botones-mod-y-del {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
  }
  .contenedor-carrito .carrito-imagen .col article .botones-mod-y-del a {
    margin: 0.5rem 0 0.5rem 0;
  }
  .contenedor-carrito .carrito-datos {
    height: 50%;
    width: 100%;
    background-color: #100e17;
    color: whitesmoke;
  }
  .contenedor-carrito .carrito-datos .boton-carrito {
    padding: 0;
    font-size: 15px;
    margin-top: 3rem;
    text-decoration: none;
  }
  .contenedor-carrito .carrito-datos .boton-carrito .boton-1 {
    margin-right: 1rem;
  }
  .contenedor-carrito .carrito-datos .boton-carrito .boton-2 {
    margin-left: 1rem;
  }
  /* FINAL MEDIA QUERIES PAGE CARRITO */
  /* INICIO MEDIA QUERIES PAGE CONTACTO */
  .contenedor-contacto {
    display: flex;
    flex-direction: column;
  }
  .contenedor-contacto .contacto-imagen {
    position: relative;
    width: 100%;
    height: auto;
  }
  .contenedor-contacto .contacto-datos {
    position: relative;
    height: auto;
    width: 100%;
  }
  footer {
    position: fixed;
    bottom: 0;
  }
  /* FINAL MEDIA QUERIES PAGE CONTACTO */
  /* FINAL MEDIA QUERIES - MOBILE*/
}

/*# sourceMappingURL=style.css.map */
