/*INICIO MEDIA QUERIES - MOBILE*/

@media (min-width: 320px) and (max-width: 1024px) {

    /*INICIO MEDIA QUERIES - GENERAL */
    header {
        height: 3.5vh;
        width: 100%;
        background-color: black;
        overflow: hidden;
        margin-bottom: 10px;
    }

    nav.navbar {
        background-color: #000;
    }

    .container-fluid {
        background-color: black !important;
    }

    .navbar-toggler {
        background-color: white !important;
    }

    .logo-star-wars-header {
        display: none;
    }

    /* FINAL MEDIA QUERIES - GENERAL */
    /*INICIO MEDIA QUERIES PAGE EL-MUNDO */
    .carousel {
        width: 0;
        height: 0;
    }

    .container-fluid {
        height: 100%;
        z-index: 1;


    }

    .navbar {
        width: 100%;

        &-nav {
            a {
                text-align: center;
                font-weight: bold;
                border: 2px solid;
                margin: 0.5rem;
                border-radius: 1rem;
            }
        }
    }

    .titulo-el-mundo h1 {
        font-weight: bold;
        font-size: 30px !important;
    }

    .introduccion-el-mundo h2 {
        font-size: 25px;
        font-weight: bold;
    }

    .cards-el-mundo {
        flex-direction: column !important;

        .card {
            margin: 5.5rem;
        }
    }

    /*FINAL MEDIA QUERIES PAGE EL-MUNDO*/
    /*INICIO MEDIA QUERIES PAGE PRODUCTOS*/
    .producto-imagen {
        display: flex;
        flex-direction: column;

        img {
            height: 0 !important;
            width: 0 !important;
        }
    }

    .producto-datos p {
        width: 100% !important;
        font-size: 90px !important;
    }

    .producto-bajar img {
        height: 0;
        width: 0;
    }

    .boton-galeria-prod{
        margin-bottom: 4rem;
        a{
            font-size: 25px;
        }
    }
    /* INICIO MEDIA QUERIES PAGE PRODUCTOS-GALERIA */
    .galeria-prod{
        display: flex;
        flex-direction: column;
        .col{
            article{
                img{
                    height: 200px;
                    width: 200px;
                }
            }
        }
    }

    div.container.text-center.container.text-center article p {
        font-weight: bold;
    }
    .col{
        article{
            img{
                height: 25px;
                width: 25px;
            }
        }
    }
    /* FINAL MEDIA QUERIES PAGE PRODUCTOS-GALERIA */


    /*FINAL MEDIA QUERIES PAGE PRODUCTOS*/
    /* INICIO MEDIA QUERIES PAGE INDEX */
    .back-video {
        display: none;
    }

    .contenedor-index {
        background-color: #000;

        &-content {
            h1 {
                font-size: 35px;
            }
        }
    }
}

/* FINAL MEDIA QUERIES - MOBILE*/