/* INICIO CSS CONTACTO */
.contenedor-contacto {
    height: 96.5vh;
    width: 100%;
    display: flex;
    align-items: center;

    .contacto-imagen {
        height: 100%;

        background: linear-gradient(135DEG,#F2F2F2 82%, #bdc3c7 3% ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: flex;
        justify-content: center;
        width: 50%;
        position: relative;
        img {
            position: relative;
            top: 43%;
            height: 15%;
        }
    }

    .contacto-datos {
        h1{
            font-weight: bold;
        }
        height: 100%;
        width: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 3rem;
        font-weight: bold;
        .form-contacto{
            margin-top:3rem;
        }
    }
}

/* FINAL CSS CONTACTO */