@import '../utilities/mixins.scss';

/* INICIO CSS EL-MUNDO */
.contenedor-el-mundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    overflow: hidden;
    .super_carrousel{
        border: 1px solid #000;
        width:85vw;
        overflow: hidden;
    }
    .carousel {
        animation: carousel 10s linear infinite;
        display: flex;
        flex-direction: row;
        width: calc(250px * 18);
        
        .block {
            overflow: hidden;
            
            img {
                height: 350px;
                width: 250px;
                object-fit: cover;
            }
        }

        @keyframes carousel {
            0% { transform: translateX(0); }
            100% { transform: translateX(calc(-250px * 9))}
        }
    }

    .titulo-el-mundo {
        h1 {
            margin-top: 5rem;
            font-size: 60px;
            color: black;
        }

        p {
            font-style: italic;
            font-weight: bold;
        }
    }

    .introduccion-el-mundo {
        @include sombraBordes;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        align-items: start;

        h2 {
            font-size: 40px;
            color: white;
        }

        p {
            margin-top: 1rem;
            text-align: left;
            color: white;
            font-weight: bold;
        }
    }

    .cards-el-mundo {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        font-weight: bold;

        .card {
            @include sombraBordes;
            color: white;

            .card-body {
                h5 {
                    font-weight: bold;
                }

                .btn.btn-primary {
                    color: black;
                    background-color: #ffffff87;
                    font-weight: bold;
                    border-color: #100e17;
                    --bs-btn-hover-border-color: black !important;
                    --bs-btn-hover-color: black !important;
                    --bs-btn-hover-bg: white !important;
                }
            }
        }
    }
}

/* FINAL CSS EL-MUNDO */