@import '../utilities/mixins.scss';

.galeria-prod {
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include centrarContenido;

    h1 {
        font-weight: bold;
    }

    .col {

        article {
            img {
                height: 350px;
                width: 350px;

            }

            p {
                font-weight: bold;
            }

            button {
                img {
                    height: 40px;
                    width: 40px;
                }
            }

        }
    }
}